.filter-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 50px;
    max-height: 700px;
    height: 100%;
    padding-bottom: 50px;

}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.filter-container input{
    display: block;
}
.drop button{
    height: 30px;
    width: 130px;
    border-right: 1px solid black;
}
.drop{
    width: 130px;
    margin-top: 10px;
}
.drop input{
    width: max-content;
    font-family: Poppins;
}
.apply{
    height: 30px;
    width: 90px;
    background-color: #E5BF00;
    cursor: pointer;
    margin-top: 10px;
}
.hair-type-checkbox{
    color: black;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    width: 210px;
    padding: 5px;
}
.hair-type-checkboxes{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 1;
}
.hair-type-checkboxes label{
    text-wrap: nowrap;
    width: max-content;
}

